@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('action-window.css');

body {
    background-color: #f4f6f9;
    font-family: "Open Sans", sans-serif;
}

.btn-sidebar-toggler {
    border-right: 1px solid #8a909d5b;
    height: 100%;
    padding: 0px 13px;
}

.linea {
    width: 100%;
    border-bottom: 1px solid #E7E7E7;
    height: 1px;
}

.btn-sidebar-toggler svg {
    height: 40px;
    color: #8a909dc7;
}

#app {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
}

#app .sidebar {
    background-color: #2b579a;
    overflow: auto;
    width: 280px;
    transition: 0.2s;
    z-index: 1;
}

.mobile-sticky-body-overlay {
    display: none !important;
}

.sidebar-minified {
    width: 0px !important;
}

#app .sidebar nav {
    padding: 10px;
}

#app .sidebar nav a {
    color: white;
    font-size: 13.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app .sidebar .top-nav {
    border-bottom: 1px solid #d6d6d631;
    padding: 15px;
}

#app .sidebar .top-nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#app .sidebar .top-nav ul a {
    color: white;
    padding: 8px 5px;
    border-radius: 3px;
}

#app .sidebar .top-nav ul a img {
    height: 20px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    margin-bottom: 5px;
}

#app .sidebar .nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#app .sidebar .nav a {
    color: #c2c7d0;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

#app .sidebar .nav .has-sub img {
    font-size: 15px;
    transform: rotate(180deg);
    width: 10px;
    margin-right: 15px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

#app .sidebar .nav .has-sub .sub-menu {
    padding: 10px;
    border-radius: 0px 0px 3px 3px;
    background-color: #2222225c;
    display: none;
    gap: 5px;
}

/*solo el primer a*/
#app .sidebar .nav .has-active img {
    transform: rotate(90deg);
}

#app .sidebar .nav .has-sub a {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 0px;
}

#app .sidebar .nav .has-active .sub-menu {
    display: grid !important;
}

#app .sidebar .nav .has-active>a:first-child {
    border-radius: 3px 3px 0px 0px;
}

.active,
#app .sidebar .nav .has-active>a:first-child {
    background-color: #2222225c !important;
    color: white !important;
}

#app .sidebar .nav a:hover,
#app .sidebar .top-nav ul a:hover {
    color: white;
    background-color: #4a7396;
}

#app main {
    overflow: auto;
}

#app main .wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
}

#app main .wrapper header {
    background-color: white;
    border-bottom: 1px solid #cccccc91;
    padding: 15px;
    display: flex;
}

#app main .wrapper header .sidebar-toggler {
    border: none;
    background-color: transparent;
}

#app .form {
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.069), 0 5px 5px 0 rgba(0, 0, 0, 0.069);
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
}

.form-auth {
    background-color: white;
    max-width: 500px;
    width: 90%;
    padding: 50px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.069), 0 5px 5px 0 rgba(0, 0, 0, 0.069);
}

.form-auth .title {
    margin: auto;
    font-size: 21px;
    color: black;
    font-weight: 500;
    margin-bottom: 30px;
}

.form-auth .title span {
    font-weight: 300;
}

.logo {
    max-width: 240px;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    margin-top: 15px;
}

.title-auth span {
    font-weight: 300;
}

.form-control {
    height: 50px;
    border-radius: 0px;
    border: solid 1px #cccccc91;
    border-left: solid 5px #2B579A;
}

.btn-primary {
    background-color: #2B579A !important;
}

.btn-link {
    color: #2B579A !important;
}

.btn-submit {
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    height: 50px;
    font-size: 15px;
    border-radius: 3px;
    background-color: #0073ff;
    color: white;
    border: none;
    margin-bottom: 20px;
}

.show {
    display: block !important;
}


.data-table .actions {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.data-table .actions button {
    width: 100%;
}

.actions-flex {
    display: flex !important;
    grid-template-columns: none;
    justify-content: center;
    flex-direction: column;
}

.data-table {
    width: 100%;
    background-color: white;
    overflow: auto;
    border: 1px solid #e5e9f2;
}

.data-table-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
}

.data-table-body {
    color: black;
    border-top: none;
    border-bottom: none;
    background-color: white;
}

.data-table-body .data-table-row:hover>.data-table-cell {
    background-color: #F4F6F9;
    cursor: pointer;
}

.data-table-cell {
    padding: 20px;
    min-width: 250px;
    background-color: #2b579a;
    color: white;
    border: none;
}

.data-table-body .data-table-cell {
    border-bottom: 1px solid #e5e9f2;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
}

.data-table-header .data-table-cell {
    font-weight: 600;
}


.button-link svg {
    width: 20px;
}

.button-link {
    display: flex;
    width: auto;
    gap: 10px;
    padding: 0px 25px;
    min-height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: transparent;
    border: solid 1px #2b579a;
    color: #2b579a;
    font-size: 15px;
    transition: 0.3s;
}

.button-link:hover {
    cursor: pointer;
    color: white;
    background-color: #2b579a;
}

.button-link-active {
    background-color: #2b579a;
    color: white;
}

.row-x2{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 30px;
}

.days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.profile {
    display:flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
}

.profile svg{
   width: 25px;
}

@media (max-width: 850px) {
    .days{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1000px) {
    .profile{
        margin-right: 30px;
    }
    #app {
        grid-template-columns: 1fr;
    }

    .sidebar {
        position: fixed;
        height: 100vh;
        width: 0px !important;
        z-index: 9;
    }

    .sidebar-minified {
        width: 280px !important;
    }

    .sidebar-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.200);
        z-index: -1;
    }

    .button-link {
        font-size: 14px;
    }
}
